<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="input">
    <!--Body content-->
    <h2>Create and join new group </h2>
    for course: {{course.ccode}}  {{course.name}}
    
    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="group.name" value="{{group.name}}" placeholder="The awesome name of the group" required />
            <input type="number" class="form-control" ng-model="group.maxNbr" value="{{group.maxNbr}}" placeholder ="Maximum number of members" required />
        </div>
        <div class ="form-group">
            
            <button class="btn btn-default" ng-click="group.createGroup()">Submit</button>
            <button ng-controller="NavigationCtrl" ng-click="navigate('/courses')" class="btn btn-default">Cancel</button>
        </div>
    </form>
</div>
