<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div>
    <!--Body content-->
    <h2>New Group </h2>
    for course: {{course.ccode}}  {{course.name}}
    
<!--    @OneToMany
    private List<GroupUser> members;
    @ManyToOne
    private GroupUser owner;
    @ManyToOne
    private Course course;
    @Column(nullable = false)
    private String gName;-->
    
    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="group.name" placeholder="The name of the awesome group" />
            <input type="text" class="form-control" ng-model="group.user" placeholder="Your social security number" />
        </div>
               
        <button class="btn btn-default" ng-click="group.createGroup()">Submit</button>
    </form>
</div>
