<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="input">
    
    <div class="top">
        <h2>Group Details</h2>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-6">
            <h3>Group Information</h3>
            <input type="text" class="form-control" ng-model="group.gName" value="{{group.gName}}"/>
            <input type="text" class="form-control" ng-model="group.course.id.value" value="{{group.course.id.value}}"/>
            <input type="number" class="form-control" ng-model="group.maxNbr" value="{{group.maxNbr}}"/>
        </div>
        <div class="col-md-6">
            <h3>Members</h3>
            <div class="adminTableWrapper">
                <table class="table">
                    <tbody>
                        <tr ng-repeat="member in group.members" >
                            <td>{{member.fname}} {{member.lname}}</td>
                            <td><button class="btn btn-default" ng-click="groupEdit.kick(member)">Kick</button></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>    
    </div>
    <div class="row">
        <button class="btn btn-default" ng-click="groupEdit.update()">Update</button>
    </div>   
</div>
