<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="input">
    
    <div class="top">
        <h2>Groups in <span ng-bind="course.name"></span></h2>
    </div>
    
    <a class="navbar-brand navbar-right" href="#/course/{{course.ccode}}/newgroup">Create New Group</a>
    
    
    <div class="btn-group">
        <button class="btn btn-default" ng-disabled="currentPage===0" 
            ng-click="currentPage = currentPage - 1">
            Previous
        </button>
        <button class="btn btn-group" ng-disabled="currentPage >= count/pageSize-1"
            ng-click="currentPage = currentPage + 1">
            Next
        </button>
    </div>
    
    <table class="table">
        <thead>
            <td>Group Number</td><td>Name</td><td>Members</td>
        </thead>
    
        <tr class="selectableCourse" 
            id="collapsible" 
            ng-repeat="group in groups" 
            ng-click="$parent.group.toggle(group)" >
            <td>{{group.id}}
            </td>
            <td>{{group.gName}}
            </td>
            <td>?/{{group.maxNbr}}
                <div class="toggleable{{group.gName}}" hidden>
                    {{group.gName}}
                </div>
            </td>

        </tr>
        
    </table>

   
</div>
