<!DOCTYPE html>
<!--
     RESTful
-->
<html lang="en" ng-app="Forum">
    <head>
        <title>Group Finder</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-route.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-resource.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="js/app.js"></script>   
        <script src="js/controllers.js"></script>  
        <script src="js/services.js"></script>  
        <script src="js/filters.js"></script> 
        <script src="js/courseScraper.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/default.css">
    </head>
    <body>
        <header>
            <hgroup>
                <h1>Group Finder</h1>
                <h2>To be updated further</h2>
            </hgroup>
        </header>
        <nav class="navbar navbar-default" role="navigation">
            <div ng-controller="MenuController">
                <a ng-click="menu.disableBreadcrumb()" ng-show="menu.showBreadcrumb()" class="navbar-brand" href="#/course">Home</a>
                <div ng-show="menu.showBreadcrumb()" class="menu-box navbar-brand">></div>
                <a ng-show="menu.showBreadcrumb()" class="navbar-brand" ng-bind="menu.getBreadcrumb()" href=""></a>
                <a ng-click="menu.setBreadcrumb('Sign up')" ng-hide="menu.loggedIn()" class="navbar-brand navbar-right" href="#/signup">Sign up</a>
                <a ng-click="menu.setBreadcrumb('Login')" ng-hide="menu.loggedIn()" class="navbar-brand navbar-right" href="#/login">Log in</a>
                <a ng-click="menu.logout()" ng-show="menu.loggedIn()" class="navbar-brand navbar-right" href="">Log out</a>
                <div ng-bind="menu.getLoginName()" class="menu-box navbar-right"></div>
            </div>
        </nav>  
            
        <div class="view-container">
            <!-- Include the view template for the current route -->
            <div ng-view ></div>
        </div>
        <footer>This is footer</footer>
        
    </body>
</html>
