<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="input">
    <div class="top">
        <h2>Almighty Admin</h2>
        <div class="row">
            <div class="col-md-6">
                <table class="table">

                    <!-- ng-click="navigate('/course/' + {{course.ccode}}+'')" ng-controller="NavigationCtrl" -->
                    <!--ng-click='course.saveVariable(course)'-->
                    <tr ng-repeat="user in users" >
                        <td>{{user.fname}} {{user.lname}} {{user.ssnbr}}</td>
                        <td><a href="#//{{course.ccode}}">Edit User</a></td>
                    </tr>

                </table>
            </div>
        </div>
        <button class="btn btn-default" ng-click="scraper.courseScraper()">Scrape</button>

    </div>
