<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="input">
    <div class="top">
        <h2>Almighty Admin</h2>
    </div>
        
        <!-- LIST OF ALL USERS-->
        <h3>List of all users</h3>
        
        <div class="row">
            <div class="col-md-6">
                <table class="table">

                    <tr ng-repeat="user in users" >
                        <td>{{user.fname}} {{user.lname}} {{user.ssnbr}}</td>
                        <td><a href="#//{{course.ccode}}">Edit User</a></td>
                    </tr>

                </table>
            </div>
        </div>
        
        <!-- ADD NEW COURSE-->
        <hr>
        <h3>Add new course</h3>
        <form role="form">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="course.ccode" placeholder="Course Code" />
                <input type="text" class="form-control" ng-model="course.name" placeholder="Name" />
            </div>
               
            <button class="btn btn-default" ng-click="course.createNewCourse()">Submit</button>
        </form>
        
        <!-- SCRAPE CHALMERS COURSES-->
        <br><hr>
        <h3>Scrape Chalmers courses</h3>
        <button class="btn btn-default" ng-click="scraper.courseScraper()">Scrape</button>

</div>
