<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="input">
    <div class="top">
        <h2>Courses</h2>
        <br>

        <!--a class="navbar-brand navbar-right" href="#/addCourse">Add course</a-->
        
        <div class="btn-group">

            <button class="btn btn-default" ng-disabled="currentPage === 0" 
                ng-click="currentPage = currentPage - 1">
                Previous
            </button>

            <button class="btn btn-default" 
                ng-disabled="currentPage >= count / pageSize - 1"
                ng-click="currentPage = currentPage + 1"> 
                Next
            </button>
        </div>
    </div>
    <input type="text" class="form-control input-sign" ng-change="course.search()" ng-model="course.searchfield" placeholder="Search Course"/>
    <div ng-hide="course.isCourseListEmpty()">Showing {{currentPageSize}} results out of a total {{count}}.</div>
    <table class="table">
        <tr class="selectableCourse" ng-repeat="course in courses" ng-click="$parent.course.select(course.ccode)" >
            <td>{{course.ccode}}</td>
            <td>{{course.name}}</td>
        </tr>
        
    </table>
    <div ng-show="course.isCourseListEmpty()">There does not seem to be any courses that matches your search...</div>
   
</div>
