/*
*  Simple CSS
*/

root { 
    display: block;
}

body {
    /*margin: auto;
    width : 50em;*/
}

#input{
    margin-right: auto;
    width : 20em; 
}

header {
    /*background-image:  url(../img/banner.jpg);
    background-repeat: repeat;
    background-position: center;*/
    background-color: #B2B2B2;
    width:100%;
    height:3em;
    font-size: 60px;
}

header h1{  
    padding-top: 0.5em;
    font-size: 1em;
    font-family: arial;
    text-align: center;
    vertical-align: middle;
}

header h2{  
    font-size: 0.5em;
    font-family: arial;
    text-align: center;
    vertical-align: middle;
}

footer {
    position:fixed;
    bottom:10px;
    height:30px;
    width: 50em;
}

#error {
    color:  red;
}