/*
*  Simple CSS
*/

root { 
    display: block;
}

body {
    /*margin: auto;
    width : 50em;*/
}

#input{
    margin-right: auto;
    margin-left: auto;
    width: 80%; 
    
}


header {
    background-color: #FAF689;
    width:100%;
    height:3em;
    font-size: 60px;
}

header h1{  
    padding-top: 0.5em;
    font-size: 1em;
    font-family: arial;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-shadow:
        -0.8px -0.8px 0 #000,  
        0.5px -0.8px 0 #000,
        -0.8px 0.8px 0 #000,
        0.8px 0.8px 0 #000;
}

header h2{  
    font-size: 0.5em;
    font-family: arial;
    text-align: center;
    vertical-align: middle;
    color: white;
}

footer {
    position:fixed;
    bottom:10px;
    height:30px;
    width: 50em;
}

#error {
    color:  red;
}

.float-right {
    float: right;
}

.menu-box {
    height:50px;
    padding:15px 15px;
    font-size:18px;
    line-height:20px;
    color:#000;
    font-style: italic;
}

.selectable-row:hover {
    background-color:#f8f8f8;
    cursor:pointer;
}

.adminTableWrapper {
    height: 300px !important;
    overflow: auto;
}

.memberList {
    border-top-color: transparent !important;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

thead td {
    font-weight: bold;
}

img#profilePic {
/*   width:455px;
   height:570px;*/
}


