<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div>
    <h2>Courses</h2>
    
    <div class="top">
        <h2>Courses</h2>

        <button class="btn btn-default" ng-click="navigate('/addCourse')" ng-controller="NavigationCtrl">
            Add course
        </button>
        <div class="btn-group">

            <button class="btn btn-default" ng-disabled="currentPage === 0" 
                ng-click="currentPage = currentPage - 1">
                Previous
            </button>

            <button class="btn btn-default" 
                ng-disabled="currentPage >= count / pageSize - 1"
                ng-click="currentPage = currentPage + 1"> 
                Next
            </button>
        </div>
    </div>
    
    <table class="table">
        <thead>
            <td>Course Code</td><td>Name</td><td>
        </thead>
    
        <tr ng-repeat="course in courses" ng-click="">
            <td>{{course.cc}}</td>
            <td>{{course.name}}</td>
        </tr>
        
    </table>
   
</div>
