<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="input">
    
    <h2>Login</h2>
    
    <form role="form" name="login-form">
        <input type="text" class="form-control input-sign" name="userName" ng-model="user.id" placeholder="username" required/>
        <input type="password" class="form-control input-sign" ng-model="user.pwd" placeholder="password" required/>     
    </form>
    
    <button class="btn btn-default" ng-click="user.login()">Submit</button>

    
    
</div>
