<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="input">
    
        
    <h2> Sign up</h2>

    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control input-sign" ng-model="user.id" placeholder="Choose a username!" required/>
            <input type="password" class="form-control input-sign" ng-model="user.pwd" placeholder="choose a password (at least 5 characters)" required/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-sign" ng-model="user.fname" placeholder="First name" required/>
            <input type="text" class="form-control input-sign" ng-model="user.lname" placeholder="Last name" required/>
            <input type="email" class="form-control input-sign" ng-model="user.email" placeholder="email@domain.com" required/>
            
        </div>
        <div class="form-group">
                        <input type="text" class="form-control input-sign" ng-model="user.admin" placeholder="If you have an admin code insert it here"/>
        </div>
        
        <button class="btn btn-default" ng-click="user.signUp()">Submit</button>
    </form>
    
</div>
